@font-face {
    font-family: "RussianRail G Pro";

    src: url("../russianrail-g-pro.woff") format("woff");
}

body {
    font-family: "RussianRail G Pro";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.2);
}

nav {
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("../img/image2.png");
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
}

.nav__info {
    width: 100%;
}

.info {
    display: flex;
    padding: 0;
    margin: 0;
    align-content: space-around;
    justify-content: space-around;
}

.name-page {
    margin: 0;
    padding: 0;

    font-size: 70px;
    color: #FFF;
}

.info__to-main {
    margin-top: auto;
    margin-bottom: auto;
}

.to-main {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;

    height: 48px;

    background: rgb(226, 26, 26);

    font-size: 30px;
    color: #FFF;

    text-decoration: none;
}

main {
    font-family: 'IBM Plex Sans', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    padding: 50px;
}

.main__full-train-info {
    width: 1000px;
    height: 90px;
}

.full-train-info {
    position: relative;
    background: #FFF;
}

.train-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.train-info-station {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    width: 100%;
}

.train-number {
    margin: 0px;
    padding: 20px;

    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    /* transform: translateY(50px); */
}

.add-wag-on-station {
    position: absolute;
    padding-left: 85px;
    display: flex;
    scale: 0;
    opacity: 0;
    height: 0;
    width: 0;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.5s ease;

    z-index: 2;
    backdrop-filter: blur(20px);
}