<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/distrib-wag.css') }}">
    <link rel="stylesheet" href="../static/css/distrib-wag.css">
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans-3" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <div class="nav__info info">
            <p class="name-page">Распределение<br>вагонов</p>
            <a href="/" class="info__to-main to-main">Загрузка данных</a>
        </div>
    </nav>
    <main class="main">
        <div class="main__full-train-info">
            <div class="train-info">
                <p class="train-number">306</p>
                <div class="stantion">
                    <p class="station-time">01:00 - 01:52</p>
                    <p class="station-name">Златоуст</p>
                </div>
                <div class="stantion">
                    <p class="station-time">01:00 - 01:52</p>
                    <p class="station-name">Златоуст</p>
                </div>
                <div class="stantion">
                    <p class="station-time">01:00 - 01:52</p>
                    <p class="station-name">Златоуст</p>
                </div>
            </div>
            <div class="add-wag-on-station">
                <p>Златоуст +1</p>
                <p>Златоуст +2</p>
            </div>
            <div class="add-wag-on-station">
                <p>Златоуст +1</p>
                <p>Златоуст +2</p>
            </div>
            <div class="add-wag-on-station">
                <p>Златоуст +1</p>
                <p>Златоуст +2</p>
            </div>
        </div>

        <script src="../static/scripts/CountWag.js"></script>
    </main>
</body>

</html>