<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/distrib-wag.css">
    <link href="https://fonts.cdnfonts.com/css/ibm-plex-sans-3" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <div class="nav__info info">
            <p class="name-page">Распределение<br>вагонов</p>
            <a href="/" class="info__to-main to-main">Загрузка данных</a>
        </div>
    </nav>
    <main class="main">
        <!-- <div class="change-page">
            {% if page > 0 %}
            <form action="" method="post" action="http://127.0.0.1:5000/distrib/?page={{ page - 1 }}"
                enctype="multipart/form-data">
                <button name="foo" value="upvote"> <- </button>
            </form>
            {% endif %}
            <p>{{ page }}</p>
            {% if page + 1 < count_pages %} <form action="" method="post"
                action="http://127.0.0.1:5000/distrib/?page={{ page + 1 }}" enctype="multipart/form-data">
                <button name="foo" value="upvote"> -> </button>
                </form>
                {% endif %}
        </div> -->
        {% for num_train, info_train in trains.items() %}
        <div class="main__full-train-info full-train-info">
            <div class="train-info">
                <p class="train-number">{{ num_train }}</p>
                <div class="train-info-station">
                    {% if num_train in no_used_trains %}
                    <p>Этот поезд не используется</p>
                    {% else %}
                    {% for i in range(count_stations[num_train]) %}
                    <div class="stantion">
                        <p class="station-time">{{ info_train['timetable'][i] }}</p>
                        <p class="station-name">{{ stations[info_train['route'][i] - 1] }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% if num_train not in no_used_trains %}
            {% for wag in pick_wag[num_train] %}
            <div class="add-wag-on-station">
                <p>Количество добавленных вагонов: {{ wag }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <script src="../static/scripts/CountWag.js"></script>
    </main>
</body>

</html>